* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Player and Computer Header Section */

header {
  display: flex;
  justify-content: space-around;
}

.changeXYBtn {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

#gameboardContainer {
  width: 100%;
  height: 50vw;

  display: flex;
}

.playerGameboardContainer,
.computerGameboardContainer {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-self: center;
}

table {
  width: 80%;
  height: 80%;
  border: 0;
  border-collapse: separate;
}
td {
  border: 1px solid black;
  padding: 0;
}

td.ships {
  border: 1px solid red;
  background-color: whitesmoke;
}

.markedSpot {
  pointer-events: none;
}

.hitShip {
  border: 1px solid red;
  background-color: red;
}

.missShip {
  border: 1px solid grey;
  background-color: grey;
}

.shipOnHover {
  background-color: blue;
}
